.popup__job{
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* height: 47px; */
    border: 0;
    border-bottom: 1px solid #d1d1d7;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    padding: 0 0 13px;
    margin-bottom: 48px;
}

@media screen and (max-width: 568px) {
    .popup__job {
        margin-bottom: 45px;
    }
}