.popup {
    background-color: white;
    border-radius: 10px;
    width: 282px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .popup {
       
    }
}

@media screen and (max-width: 984px) {
    .popup {
        
    }
}

@media screen and (max-width: 568px) {
    .popup {
        
    }
}