.profile__edit-button {
    background-color: black;
    height: 24px;
    width: 24px;
    border-width: 1px;
    background: url(../../../images/profile-button.svg) no-repeat center;
}


@media screen and (max-width: 1040px) {
    .profile__edit-button {
        margin-left: 10px;
    }
}

@media screen and (max-width: 984px) {
    .profile__edit-button {}
}

@media screen and (max-width: 568px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
    }
}