.profile__image {
    background-image: url(../../../images/profile-cousteau.jpg);
    max-width: 100%;
    border-radius: 150px;
    width: 120px;
    height: 120px;
    margin: 3.75px 26.25px 3.75px 0;
    background-size: cover;
}

@media screen and (max-width: 1040px) {
    .profile__image {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .profile__image {
        /* width: 340px; */
        /* height: 340px; */
    }
}

@media screen and (max-width: 568px) {
    .profile__image {
        margin: 0 auto;
    }
}