.profile {
  margin: 40px 200px 0 200px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1140px) {
  .profile {}
}

@media screen and (max-width: 768px) {
  .profile {}
}

@media screen and (max-width: 568px) {
  .profile {
    margin: 42px 19px 0;
    flex-direction: column;
  }
}