.header {
    margin: 45px 200px 0 200px;
    height: 74px;

}

@media screen and (max-width: 984px) {
    .header {
       
    }
}

@media screen and (max-width: 568px) {
    .header {
        margin: 28px 0 0;
        height: 56px;
    }
}