.header {
    margin: 45px 200px 0 200px;
    height: 74px;

}

@media screen and (max-width: 700px) {
    .header {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        margin: 28px 0 0;
        height: 56px;
    }
}