.profile__title {
    font-family: 'Inter', "Arial", sans-serif;
    margin: 22px 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    height: 39px;
}

@media screen and (max-width: 984px) {
    .profile__title {}
}

@media screen and (max-width: 568px) {
    .profile__title {}
}