.popups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    max-width: 100%;
    max-height: 100%;
    margin: 51px 200px 0;
}

@media screen and (max-width: 1140px) {
    .popups {}
}

@media screen and (max-width: 984px) {
    .popups {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 568px) {
    .popups {
        grid-template-columns: repeat(1, 1fr);
        margin: 36px 19px 0;
    }
}