.profile__add-button {
    width: 150px;
    height: 50px;
    border-width: 2px;
    background-color: black;
    align-self: center;
    padding: 0;
    background: url(../../../images/profile-button1.svg) no-repeat center;
}

@media screen and (max-width: 568px) {
    .profile__add-button {}
}