.popup__close-button {
    background: url(../../../images/popup-button.svg) no-repeat center;
    width: 32px;
    height: 32px;
    top: -8px;
    right: -234px;
    position: relative;
    border: 0;
}

@media screen and (max-width: 568px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
    }
}