.popup__close-button {
    background: url(../../../images/popup-close-button.svg) no-repeat center;
    width: 32px;
    height: 32px;
    top: -80px;
    right: -408px;
    position: relative;
    border: 0;
}

.popup__close-button:hover {
    background: url(../../../images/popup-close-button-hover.svg) no-repeat center;
    opacity: 0.8;
    transition: 1s;
}

@media screen and (max-width: 568px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -72px;
        right: -240px;
    }
}